.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: .5rem;

    padding: 1rem;
    background-color: whitesmoke;
}

.footer__icon {
    width: 40px;
    justify-self: right;
}

.footer__icon-text {
    justify-self: left;
    align-self: center;
}